@font-face {
    font-family: 'SVN-Monument';
    src: url(assets/SVN-MONUMENT-EXTENDED-BOLD.OTF);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Monument';
    src: url(assets/SVN-MONUMENT-EXTENDED-REGULAR.OTF);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Monument';
    src: url(assets/SVN-MONUMENT-EXTENDED-LIGHT.OTF);
    font-weight: lighter;
    font-style: normal;
}

body {
    background-color: #001f8d;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
  
.content {
    display: block;
    color: white;
    width: 100%;
}

.transition {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.9));
}

.white-background {
    background-color: white;
    color: #001f8d;
}

.copyright {
  font-family: 'Montserrat';
  color: gray;
  font-size: 1.5vw;
  text-align: center;
  padding: 5px 0;
}
  
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-color: white;
    padding: 3px 0;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px;
}

.navbar-name {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-link {
    flex: 1;
    list-style: none;
    text-align: center;
}

.navbar-item {
    display: inline-block;
    padding: 10px 4vw ;
    font-size: 1em;
    cursor: pointer;
    color: white;
    border-right: 1px solid white;
}

.navbar-end {
  border-right: none;
}

.content {
    display: block;
    color: white;
    width: 100%;
}

/* Home */

.homepage-avatar {
  position: relative;
  width: 100%;
  height: 40vw;
  background-image: url(assets/avatar.jpg);
  background-size: cover;
  background-position: bottom;
}


.homepage-competition {
  position: absolute;
  right: 5%;
  width: 70%;
  color: white;
  font-size: 3vw;
  text-align: right;
  font-family: 'SVN-Monument';
}

.homepage-competition-name {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10vw 0 2vw 0;
  text-shadow: 2px 2px 4px #000000;
}

.homepage-competition-content {
    margin: 2vw 0;
  font-size: 0.7em;
  font-family: 'Montserrat';
  font-weight: lighter;
    font-style: italic;
}

.homepage-signup {
    padding: 1.5vw 3vw;
    background-color: #001f8d;
    border: none;
    border-radius: 2vw;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 0.8em;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s;
}

.homepage-signup:hover {
    background-color: #093efc;
    transition: background-color 0.3s;
}

.homepage-introduction {
  text-align: center;
  margin: 0 5vw;
}

.homepage-introduction-title {
  font-family: 'SVN-Monument';
  font-weight: bold;
  font-size: 1.6em;
  padding: 5vw;
}

.homepage-introduction-content {
  font-size: 1rem;
}

.homepage-title {
  text-align: center;
  font-family: 'SVN-Monument';
  font-weight: bold;
  font-size: 1.6em;
}

.homepage-unique, .homepage-news {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homepage-usp, .homepage-news-component {
  padding: 4vw;
}

.homepage-usp-img, .homepage-news-img {
  width: 20vw;
  height: 30vw;
}

.homepage-usp-content, .homepage-news-title {
  text-align: center;
}

.homepage-news-title {
  font-weight: bold;
}

.homepage-network, .homepage-network-flag {
  padding: 20px 0;
  font-size: 5vw;
}

.homepage-network-flag {
  display: block;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.homepage-network-img {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.homepage-network-img > img {
  height: 10vw;
  display: inline-block;

}

.homepage-connect {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.6em;
}

/* About Us */

.about-banner {
    position: relative;
    width: 100%;
    height: 40vw;
    background-image: url(assets/avatar.jpg);
    background-size: cover;
    background-position: bottom;
  }
  
  

  
  .about-slogan {
    position: absolute;
    top: 68%;
    left: 35%;
    width: 65%;
    height: 30%;
    color: white;
    font-size: 3vw;
    text-align: center;
    font-family: 'SVN-Monument';
  }
  
  .about-intro {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .about-intro-script, .about-intro-img {
    flex: 1;
    padding: 40px;
    width: 40%;
    border-radius: 5em;
  }
  
  .about-intro-script-1 {
    font-family: 'SVN-Monument';
    font-size: 3vw;
  }

  